.verticalContainer {
  min-width: 200px;
  max-width: 200px;
  height: 100vh;
  background: var(--background-secondary);
  color: var(--clr-text);

  display: flex;
  flex-direction: column;

  padding: 4px 0;
  transition: min-width 200ms ease 0s, max-width 200ms ease 0s;

  overflow: hidden;
}

.collapsed {
  min-width: 64px;
  max-width: 64px;
}

.brand {
  display: flex;
  align-items: center;
  height: 45px;
  font-size: 1.25rem;
  font-weight: 600;
  width: 100%;
  white-space: nowrap;
  padding: 2px;
}

.brand svg {
  width: 45px;
  height: 45px;
}

.brandText {
  transition: all 150ms ease;
}

.collapsed .brandText {
  opacity: 0;
  font-size: 0;
  pointer-events: none;
}

.divider {
  height: 1px;
  background: rgba(255, 255, 255, 0.08);
  margin: 0.75rem 0;
}

.bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.collapseButton {
  margin-top: 0.5rem;
  width: 100%;

  height: 36px;
  width: 36px;
  display: flex;

  border: none;
  background: none;
  cursor: pointer;
  color: inherit;

  transition: transform 200ms ease;
}

.collapseButton svg {
  height: 36px;
  width: 36px;
}

.collapsed .collapseButton {
  transform: rotate(180deg);
}
