html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

:root {
  --background-primary: #f4f4f4;
  --background-secondary: #ffffff;
  --text-secondary: #666666;
  --accent: #0070f3;
  --border: rgba(0, 0, 0, 0.1);
  --primary-red: #ff6f61;
  --text-primary: #0e0e0e;
  --border-light: #ffffff0d;
}

[data-theme='dark'] {
  /* --background-primary: #0e0e0e;
  --background-secondary: #242424; */
  --background-primary: #242424;
  --background-secondary: #0e0e0e;
  --text-primary: #f4f4f4;
  --text-secondary: #999;
  --accent: #0070b3;
  --border: rgba(255, 255, 255, 0.1);
  --primary-red: #ff6f61;
  --border-light: #ffffff0d;
}
