.mobileNavContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 60px;
  padding: 0 8px;
  margin-top: 60px;

  background: var(--background-secondary);
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  z-index: 1000;
}
