.table {
  overflow: auto;
  max-height: 0px;
  transition: max-height 250ms ease-in-out;
}

.table.expanded {
  max-height: 400px;
}

.label {
  display: block;
  font-weight: 800;
  margin: 10px 0 6px;
  font-size: 12px;
  color: var(--text-primary);
}
