.container {
  height: 28px;
  width: 28px;
  background-color: var(--background-secondary);
  background-color: var(--background-primary);
  border-radius: 25%;
  border: none;
  cursor: pointer;
}

.container svg {
  stroke: red;
  fill: red;
}
